<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/style_recette.css" />
  <title>Recettes Description</title>
</head>

<body>
  <!--on met lien url avec .html car il s'agit d'une page static. on veut récupérer l'id et le type=recette-->
  <header>
   <nav>
                      <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="resultat">Lister les Recettes</a></li>
                        <li><a href="ajoutRecette.html">Ajouter une Recette</a></li>
                    </ul>
  </nav>
  <h1>Mon carnet de Recettes</h1>
  </header>
  <section>
  <h3>Recette de {{nom}}</h3>

    <h4> Réalisation :</h4><br/>{{description}}
  </section>
  <section>
    <p>
    <h4>  Ingrédients :</h4>
      <ul>
        {{#each ingredients}}
        <li> {{nom}} : {{quantité}}{{unité}}</li>
        {{/each}}
      </ul>
    </p>

  </section>
  <section3>
    <h4> Commentaires :</h4> {{#each comments}}
    <p>{{titre}} {{description}}</p>
    {{/each}}

  </section3>
  <p>
    <input type="button" value="Ajouter un commentaire" onclick="location.href='/addComment.html?id={{id}}&type=recette'"/>
</p>

<p>
  <!-- on définit l'id en question de la recette que l'on souhaite supprimer-->
  <!-- TODO: a remplacer ca par un lien stylé bouton-->
  <input type="submit" value="Supprimer la recette" onclick="location.href='/suppressionRecette?id={{id}}'"/>

</p>
</body>
<footer>
  @Copyright Sandra - All rights reserved
</footer>

</html>
