<!DOCTYPE html>
<html>

{{> head}}

<body>
  <header>
    {{> nav}}
    <h1>Mon carnet de Recettes</h1>
  </header>
  <p>


    <form method="post" action="addRecipe">

      <section>
        <p>

          <button type="submit">{{#if recette}}Mettre à jour{{else}}Ajouter la recette{{/if}}</button></p>
        <p>
          <label for="Nom">Nom :<abbr title="Ce champ est obligatoire" autofocus>*</abbr></label>

          <input type="text" name="Nom" id="Nom" maxlength="200" value="{{recette.nom}}" required />
        </p>
        <p>
          <label for="Description">Description : </label>
          <textarea name="Description" id="Description" rows="10" cols="50" placeholder="Entrez la description de votre recette.">{{recette.description}}</textarea>
        </p>
        <p>

             <label for="Type">Type de recette : </label>
            <select name="Type" id="Type">
                    {{{addOptionType recette.type 'apéritif' 'Apéritif'}}}
                    {{{addOptionType recette.type 'entrée' 'Entrée'}}}
                    {{{addOptionType recette.type 'viande' 'Viande'}}}
                    {{{addOptionType recette.type 'poisson' 'Poisson'}}}
                    {{{addOptionType recette.type 'légume' 'Légume'}}}
                    {{{addOptionType recette.type 'pâte' 'Pâte'}}}
                    {{{addOptionType recette.type 'riz' 'Riz'}}}
                    {{{addOptionType recette.type 'fromage' 'Fromage'}}}
                    {{{addOptionType recette.type 'dessert' 'Dessert'}}}
                    {{{addOptionType recette.type 'biscuit' 'Biscuit'}}}
                    </select>
        </p>

        <p>
          <input type="button" name="Ajout" id="Ajout" value="Ajouter un ingrédient" onClick="addLine()"/></p>
</section>
<div id="ingredient">
  <!--si je garde ligne suivante alors j'ai 1 ligne ingrédient par défaut. nous choisisons de ne pas avoir de ligne ingredient par défaut-->
  <!--script>addLine()</script-->
</div>

</form>
</p>
<script>
  let ingredientDivId = 1
  function addLine() {
    const ingredientDiv = document.getElementById('ingredient')
    const ingredientNew = document.createElement('p')
    ingredientNew.setAttribute('id', 'ingredientDiv' + ingredientDivId)
    ingredientNew.innerHTML =
      `<label for="Ingrédient${ingredientDivId}">Ingrédient : </label>
                <input type="text" name="Ingrédient" id="Ingrédient${ingredientDivId}"/>
                <label for="Quantité${ingredientDivId}">Quantité : </label>
                <input type="number" step="any" name="Quantité" id="Quantité${ingredientDivId}" required/>
                <label for="Unité${ingredientDivId}">Unité : </label>
                <input type="text" name="Unité" id="Unité${ingredientDivId}" />
                 <input type="button" name="Retrait" id="Retrait${ingredientDivId}" value="-" onClick="removeLine('ingredientDiv${ingredientDivId}')"/>`
    ingredientDiv.appendChild(ingredientNew)
    ingredientDivId++
  }
  function removeLine(selectedIngredientId) {
    document.getElementById(selectedIngredientId).remove()
  }
</script>
</body>
{{> footer}}

</html>
