<!DOCTYPE html>
<html>

{{> head}}
<body>
  <!--on met lien url avec .html car il s'agit d'une page static. on veut récupérer l'id et le type=recette-->
  <header>
{{> nav}}
    <h1>Mon carnet de Recettes</h1>
  </header>
  <section>
    <p>
      <!-- on définit l'id en question de la recette que l'on souhaite supprimer-->
      <!-- TODO: a remplacer ca par un lien stylé bouton-->
      <button type="submit" value="Supprimer la recette" onclick="location.href='/suppressionRecette?id={{recette.id}}'"> Supprimer la recette</button>
</p>
<h3>Recette de {{recette.nom}}</h3>

<h4> Réalisation :</h4><br/>{{recette.description}}
<p>
  <h4> Ingrédients :</h4>
  <ul>
    {{#each recette.ingredients}}
    <li> {{nom}} : {{quantité}}{{unité}}</li>
    {{/each}}
  </ul>
</p>


<p>
  <h4> Commentaires :</h4>
  <ul>
    {{#each recette.comments}}
    <li>{{titre}}: {{description}}
      <div class="buttonMoins">
      <input type="button" name="Retrait" id="Retrait" value="-" onClick="location.href='/removeComments?id={{id}}&recetteId={{objet_id}}'"/></li>
{{/each}}
</ul>
</p>
<p>
    <input type="button" value="Ajouter un commentaire" onclick="location.href='/addComment.html?id={{recette.id}}&type=recette'"/>
</p>


</section>
{{> footer}}
</body>

</html>
